@page "/"
@layout MainLayout

<Hero BtnText="Create Account For Free"
      Desc1="Design Modern Portfolio"
      Desc2="Up to 50,000 templates"
      Desc3="Easy and Modern Designs">

    <Title>
        Create stunning,<br />
        eye-catching <span style="color:#10248C">portfolios</span>
    </Title>

</Hero>

@code {

}
